{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'main_app/css/styles.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
  <header>
    <div class="header-wrapper">
      <a href="{% url 'home' %}">  <!-- Обернули лого в ссылку -->
        <img src="{% static 'main_app/images/logo.png' %}" alt="Логотип">
      </a>
      <div class="header_mail_phone">
        <div class="header_mail">
          <i class="fa-solid fa-square-envelope" style="color: purple; font-size: 30px;"></i>
          <strong>mosreklamov@mail.ru</strong>
        </div>
        <div class="header_phone">
          <i class="fa-solid fa-phone-volume" style="color: purple; font-size: 30px;"></i>
          <div class="header_phone-text">
            <strong>+7 (985) 190-44-00</strong>
            <a href="/" class="header_callback-link"><i>обратный звонок</i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="wrap_main_menu">
      <div class="main_menu">
        {% for i in data %}
        <a href="{% url i.url_name %}">{{i.title}}</a>
        {% endfor %}
      </div>
      <div class="order">ОФОРМИТЬ ЗАКАЗ ОНЛАЙН</div>
    </div>

    <div class="top_menu">
      {% for i in tags %}
      <a href="{{i.get_absolute_url}}" class="tag-link">{{i.name}}</a>
      {% endfor %}
    </div>
  </header>

  <aside class="side_menu">
    <ul>
      {% for category in categories %}
        <li><a href="{% url 'category' category.slug %}">{{ category.name }}</a></li>
      {% empty %}
        <li>Категории не найдены</li>
      {% endfor %}
    </ul>
  </aside>

  <main>
    {% block content %} {% endblock %}
  </main>

  <footer>
    <div class="footer-wrapper">
      <a href="{% url 'home' %}">
        <img src="{% static 'main_app/images/logo2.png' %}" alt="Логотип белый">
      </a>
      <div class="mail_phone">
        <div class="mail">
          <i class="fa-solid fa-square-envelope" style="color: white; font-size: 30px;"></i>
          <strong>mosreklamov@mail.ru</strong>
        </div>
        <div class="phone">
          <i class="fa-solid fa-phone-volume" style="color: white; font-size: 30px;"></i>
          <div class="phone-text">
            <strong>+7 (985) 190-44-00</strong>
            <a href="/" class="callback-link"><i>обратный звонок</i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>