{% load static %}

<div class="banner-slider">
    <div class="slider">
        <img src="{% static 'main_app/images/slide1.png' %}" alt="Баннер 1">
        <img src="{% static 'main_app/images/slide2.png' %}" alt="Баннер 2">
        <img src="{% static 'main_app/images/slide3.png' %}" alt="Баннер 3">
    </div>
</div>

<div class="home-text">
  <h1>Изготовление наружной рекламы в Москве: быстро и недорого</h1>
  <p>Среди всех способов представить свой товар, услугу, малый или большой бизнес, наружная реклама в Москве обладает
    наибольшей эффективностью и степенью захвата целевой аудитории. На нашем сайте вы можете оформить заказ на
    изготовление наружной рекламы онлайн, посмотреть примеры готовых работ, проконсультироваться по вопросам правильного размещения.</p>
  <h2>Преимущества изготовления наружной рекламы в мастерской.</h2>
  <p>Какими преимуществами обладает наружная реклама, заказанная у нас?</p>
  <ul>
    <li>Комплексный подход к выполнению заказа. Выполняется разработка дизайна, конструкторских расчетов, подбор материалов
      и технологий, сборка в мастерской, оснащенной современным оборудованием, монтаж бригадой профессионалов.</li>
    <li>Обширный каталог товаров. Предлагаем использовать не один вид рекламы, а сразу несколько, так вы сможете быстрее
      раскрутить свой бизнес, и сделать его популярным среди целевой аудитории.</li>
    <li>Все виды наружной рекламы изготавливаются в строгом соответствии с российским законодательством, и в частности,
      с новыми постановлениями правительства города Москвы. Не возникает проблем с размещением.</li>
    <li>Применение материалов только от производителей с высоким уровнем репутации. Поэтому, готовые рекламные конструкции
      простоят на протяжении длительного времени, без каких-либо признаков разрушения.</li>
    <li>Цены ниже среднерыночных. Это является важным преимуществом для заказчика в условиях непростой экономической ситуации.
      Надо заметить, что от доступной цены никак не страдает качество изготовляемых рекламных материалов и конструкций, оно
      остается на высочайшем профессиональном уровне.</li>
  </ul>
    <p>Выполнение заказа по изготовлению рекламной конструкции может осуществляться по типовому или индивидуальному проекту.
      Обо всех нюансах этих способов вы можете проконсультироваться с нашими менеджерами. Мы предоставляем своим клиентам
      только достоверную информацию о размещенных товарах и услугах.</p>
    <h2>Как заказать наружную рекламу в Москве.</h2>
    <p>Чтобы заказать наружную рекламу в Москве, позвоните нашим менеджерам по телефону (есть функция заказа обратного звонка),
      или напишите на адрес электронной почты. Выберете в каталоге тот вид рекламы, который наилучшим образом подходит вашим
      условиям позиционирования и размещения. Мы гарантируем оперативное выполнение заказов любого уровня сложности.</p>
    <p>Используемые материалы сертифицированы и полностью соответствуют международным стандартам качества. Вам доступны любые
      виды рекламы: вывеска, световой короб, объемные буквы, таблички, крышные установки. Зачем же откладывать оформление заказа?
      Лучшее предложение в Москве и МО доступно прямо сейчас.</p>
</div>
