#header {
    background: linear-gradient(135deg, #9B59B6 0%, #8A2BE2 100%);
}

#site-name a {
    --accent: white;  /* Перезаписываем переменную */
    font-family: 'Segoe UI', Arial, sans-serif;
}

.module caption {
    background: linear-gradient(135deg, #9B59B6 0%, #8A2BE2 100%);
}

div.breadcrumbs {
    background: #B57EDC;
}

#changelist-filter-header {
    background: linear-gradient(135deg, #9B59B6 0%, #8A2BE2 100%);
}