{% extends 'base.html' %}
{% load static %}

<!--Блок отвечает за контент на страницах: статьи и статья. Добавляет теги.-->
{% block content %}
<h1>{{ title }}</h1>

{% if articles %}
  <div class="articles">
    {% for article in articles %}
      <div class="article">
        <h1>{{ article.title }}</h1>
        <p>{{ article.content|truncatewords:50 }}</p>
        <p>Дата создания: {{ article.time_create|date:"d-m-Y H:i:s" }}</p>
        <a class="link-read-post" href="{{ article.get_absolute_url }}">Читать пост</a>
      </div>
    {% endfor %}
  </div>
{% endif %}

{% if article %}
  <div class="article-tag">
    {% with article.tags.all as art_tags %}
      {% if art_tags %}
        <ul class="tag_list">
          <li>Теги:</li>
          {% for i in art_tags %}
          <li><a href="{{i.get_absolute_url}}">{{i.name}}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </div>
  <div class="articles">
    <p>{{ article.content }}</p>
    <p>Дата создания: {{ article.time_create|date:"d-m-Y H:i:s" }}</p>
    <a class="back-to-category" href="{{ article.categories.get_absolute_url }}">Назад в рубрику</a>
  </div>
{% endif %}

{% if posts %}
  <div class="articles">
    {% for i in posts %}
      <h1>{{ i.title }}</h1>
      <p>{{ i.content|truncatewords:50 }}</p>
      <p>Дата создания: {{ i.time_create|date:"d-m-Y H:i:s" }}</p>
      <a class="link-read-post" href="{{ i.get_absolute_url }}">Читать пост</a>
    {% endfor %}
  </div>
{% endif %}

<!--Блок отвечает за добавление статьи-->
{% if add_article %}
  <div class="add_page">
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-error">{{ form.non_field_errors }}</div>
      {% for i in form %}
      <label class="form-label" for="{{ i.id_for_label }}">{{i.label}}: </label>{{ i }}<p>
      <div class="form-error">{{ i.errors }}</div>
      {% endfor %}
      <p><button type="submit">Отправить</button>
    </form>
  </div>
{% endif%}


{% endblock %}

<!--Блок отвечает только за текст и слайдер на главной странице-->
{% block home_content %}
  {% if show_home_text %}
    {% include 'main_app/includes/home.html' %}
  {% endif %}
{% endblock %}
